.title {
  font-weight: bolder;
  color: #f5bd00;
}
body {
  margin: 0;
}
body[theme-mode] {
  background-color: #16161a;
}
body[theme-mode] .status-tip {
  color: aliceblue;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b9b9b9;
}
*::-webkit-scrollbar-corner {
}
@media screen and (min-width: 980px) {
  .task-list {
    padding: 0 100px;
  }
}
@media (max-width: 980px) {
  .task-list {
    padding: 50px;
  }
  body .header-nav {
    padding: 0 40px;
  }
}
