.header-nav {
  height: 48px;
  line-height: 48px;
  box-shadow: 0 0px 3px 0px #bfbfbf;
  margin-bottom: 20px;
  padding: 0 80px;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header-title {
  font-weight: bolder;
  font-size: 1.5em;
  color: #000;
  display: flex;
  align-items: center;
}
